{% extends 'base.html.twig' %}

{% block title %}Hello StoreController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    {{id}}
    {{slug}}
<br/>
Adresse IP = {{addrIP}}
<br/>
{{ url_from_request }}
<br/>
{{ url_from_router }}
<br/>
{{ app.request.pathInfo }}
</div>
{% endblock %}
